<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../_common_/card.css.j2">
    <link rel="stylesheet" href="style.css.j2">
</head>
<body>
<div id="view-port">
    <div class="card">
        <div>
            {% if gen.random.boolean() %}
                <img class="barcode" src="/ds/lambdaWalker/ds.machineReadableCode/body/{{ data.id }}/barcode" data-class="barcode" alt="Barcode">
            {% else %}
                <img class="slim-barcode" src="/ds/lambdaWalker/ds.machineReadableCode/body/{{ data.id }}/slim_barcode" data-class="barcode" alt="slim-barcode">
            {% endif %}
            <main>
                {% if gen.random.boolean() %}
                    <h2>{{ gen.text.sentence((3,10)) }}</h2>
                {% endif %}

                {% for i in range([2, 3] | random) %}
                    <p>{{ gen.text.sentence((6,20)) }}</p>
                {% endfor %}

                <div class="footer">
                    {%- if gen.random.boolean() %}
                        <img class="pdf417" src="/ds/lambdaWalker/ds.machineReadableCode/body/{{ data.id }}/pdf417" data-class="pdf417" alt="PDF417">
                    {% else %}
                        {% for i in range([1,2] | random) %}
                            <img class="qrcode" src="/ds/lambdaWalker/ds.machineReadableCode/body/{{ data.id }}/qrcode" data-class="qrcode" alt="qrcode">
                        {% endfor %}
                    {% endif -%}

                    <div class="extra-text">
                        {% for i in range([2, 3] | random) %}
                            <p>{{ gen.text.sentence((6,30)) }}</p>
                        {% endfor %}
                    </div>
                </div>

                <p>{{ gen.text.sentence((6,30)) }}</p>
            </main>
        </div>
    </div>
</div>
</body>
</html>